@import  'variables'; 
@import 'gallery';

body {
    background-color: $color-fondo; 
    color: #333; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;  
}